@using Project.Data;
@using System.Globalization;
@using Microsoft.EntityFrameworkCore;
@using Microsoft.AspNetCore.Identity

@inject ApplicationDbContext db
@inject SignInManager<User> SignInManager

@{
    int id = Convert.ToInt32(Context.Request.Path.ToString().Split("/").Last());
    Review review = db.Reviews.Include(review => review.Comments).Include(review => review.Tags).Where(review => review.Id == id).First();
}
<div class="review-content">
    <div class="review-field">
        <div class="review-field-header">
            <div class="review-field-header-name">
                <h1>@review.Name</h1>
            </div>
            <div class="review-field-header-info text-right">
                <span class="under-header">
                    Author: <span class="under-header-author"> @review.Author, </span>
                    @review.PostingTime.ToString("d", CultureInfo.GetCultureInfo("en-US")),
                    Category: @review.Category
                </span>
            </div>
        </div>
        <div class="review-field-text">
            @Html.Raw(review.Text)
            <div class="review-tags">
                @foreach (Tag tag in review.Tags)
                {
                    <span class="tag">@tag.Item</span>
                }
            </div>
        </div>
        <div class="review-field-rating">
            <h3>Author's assessment: </h3>
            <div class="rating">
                <div class="rating-items">
                    @for (short i = 5; i >= 1; i--)
                    {
                        @if (review.Rating == i)
                        {
                            <input disabled checked type="radio" id="rating-@i" class="rating-item" value=@i />
                        }
                        else
                        {
                            <input disabled type="radio" id="rating-@i" class="rating-item" value=@i />
                        }
                        <label for="rating-@i" class="rating-label"></label>
                    }
                </div>
            </div>
        </div>
    </div>
    <div>
    </div>
    @if (SignInManager.IsSignedIn(User))
    {
    <div class="comments-field">
        <h2>Comments: </h2>
        <hr>
        @foreach (var item in review.Comments)
        {
            <div class="comment">
                <div class="comment-header">
                    <span>@item.Author</span><span class="span-align-right">@item.PostingTime.ToString("d", CultureInfo.GetCultureInfo("en-US"))</span>
                </div>
                <div class="comment-text">
                    @Html.Raw(item.Text)
                </div>
            </div>
        }
    </div>

        <form method="post" asp-controller="Review" asp-action="CreateComment" asp-route-id=@id>
            <div class="comment-input-field">
                <textarea id="comment-input-textarea" name="commentText" class="ck-editor text-editor form-control"></textarea>
                <div class="comment-send">
                    <input type="submit" class="btn btn-secondary btn-lg btn-block" value="Send" />
                </div>
            </div>
        </form>
    }
</div>